# note: clang compile command is run in the same dir as the source
CompileFlags:
  Compiler: clang
  Add:
    - -I../libs
    - -ferror-limit=0
    - -DAUTO_MAC=1
    - -DAUTO_INTERNAL=1
    - -DAUTO_DIAGNOSTICS=1
    - -Wall
    - -Wimplicit-int-float-conversion
    - -Wno-unused-function
    - -Wno-missing-braces
    - -Wno-unused-parameter
    - -Wno-unused-but-set-variable
    - -Wno-unused-variable
    - -Wno-switch
    - -Wno-writable-strings
    - -Wno-c++17-extensions
    - -Wno-pointer-to-int-cast
    - -Wno-tautological-constant-out-of-range-compare
    - -Wno-reorder-init-list
    - -Wno-macro-redefined
    - -Wno-deprecated-declarations
